<div id="dataBrowserPanel" class="container contentContainer col-md-8 col-xs-12 col-md-offset-2"
  style="margin-top: 20px;" ng-controller="adminConsoleController">
  <ul class="nav nav-tabs" id="dataList2">
   <li class="active"><a data-target="#browseAttitude" data-toggle="tab">Attitude </a></li>
   <li ><a data-target="#browsePosition" data-toggle="tab">Position </a></li>
   <li ><a data-target="#browseVehicle" data-toggle="tab">Vehicle </a></li>
   <li ><a data-target="#browseOrbit" data-toggle="tab">Orbit </a></li>
 </ul>

 <div class="tab-content">
  <div class="tab-pane active" id="browseAttitude">
    <br />
    <p>The data browser will browse attitude collection for verification. It will fetch the latest n records by vehicle id.
    </p>
    <p class="marginTop"></p>

    <br />
   
    <div class="row col-md-12 ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchCriteria">
          </div>      
        </div>
      </form>
      <table class="table table-bordered table-striped table-condensed table-responsive flip-content" border="0">
        <thead>
          <tr>
            <th><a href="#" ng-click="sortType = 'vehicleId'; sortReverse = !sortReverse">
              Vehicle Id
              <span ng-show="sortType == 'vehicleId' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vehicleId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'q1'; sortReverse = !sortReverse">
              Quaternion 1
              <span ng-show="sortType == 'q1' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'q1' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'q2'; sortReverse = !sortReverse">
              Quaternion 2
              <span ng-show="sortType == 'q2' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'q2' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'q3'; sortReverse = !sortReverse">
              Quaternion 3
              <span ng-show="sortType == 'q3' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'q3' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'q4'; sortReverse = !sortReverse">
              Quaternion 4
              <span ng-show="sortType == 'q4' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'q4' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
              Timestamp
              <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "attitude in attitudeDataSet | orderBy:sortType:sortReverse | filter:searchCriteria">
            <td>{{ attitude.vehicleId }}</td>
            <td>{{ attitude.q1 }}</td>
            <td>{{ attitude.q2 }}</td>
            <td>{{ attitude.q3 }}</td>
            <td>{{ attitude.q4 }}</td>
            <td>{{ attitude.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row col-md-12" style="margin-top:40px;">
      <p ng-init="getAttitudePartial(yourVehicleId, 3)" >
        <button type="radio" id="getAttitudePartial" ng-click="getAttitudePartial(yourVehicleId, yourNItems)" class="btn btn-success ">
          <i class="glyphicon glyphicon-play btn-success"></i> Browse
        </button>&nbsp;&nbsp;
        <span>Vehicle Id: <input type="text" id="yourVehicleId" ng-model="yourVehicleId"></span>&nbsp;&nbsp;
        <span>Fetch latest # of Items: <input type="text" id="yourNItems" ng-model="yourNItems"></span>
      </p>
    </div>

  </div>
  <!-- tab-pane active -->

  <div class="tab-pane" id="browsePosition">
    <br />
    <p>The data browser will browse position collection for verification. It will fetch the latest n records by vehicle id.
    </p>
    <p class="marginTop"></p>

    <br />
   
    <div class="row col-md-12 ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchCriteria">
          </div>      
        </div>
      </form>
      <table class="table table-bordered table-striped table-condensed table-responsive flip-content" border="0">
        <thead>
          <tr>
            <th><a href="#" ng-click="sortType = 'vehicleId'; sortReverse = !sortReverse">
              Vehicle Id
              <span ng-show="sortType == 'vehicleId' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vehicleId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'x'; sortReverse = !sortReverse">
              x
              <span ng-show="sortType == 'x' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'x' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'y'; sortReverse = !sortReverse">
              y
              <span ng-show="sortType == 'y' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'y' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'z'; sortReverse = !sortReverse">
              z
              <span ng-show="sortType == 'z' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'z' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'vx'; sortReverse = !sortReverse">
              Velocity x
              <span ng-show="sortType == 'vx' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vx' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'vy'; sortReverse = !sortReverse">
              Velocity y
              <span ng-show="sortType == 'vy' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vy' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'vz'; sortReverse = !sortReverse">
              Velocity z
              <span ng-show="sortType == 'vz' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vz' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
              Timestamp
              <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "position in positionDataSet | orderBy:sortType:sortReverse | filter:searchCriteria">
            <td>{{ position.vehicleId }}</td>
            <td>{{ position.x }}</td>
            <td>{{ position.y }}</td>
            <td>{{ position.z }}</td>
            <td>{{ position.vx }}</td>
            <td>{{ position.vy }}</td>
            <td>{{ position.vz }}</td>
            <td>{{ position.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row col-md-12" style="margin-top:40px;">
      <p ng-init="getPositionPartial(yourVehicleId, 3)">
        <button type="radio" id="getPositionPartial" ng-click="getPositionPartial(yourVehicleId, yourNItems)" class="btn btn-success ">
          <i class="glyphicon glyphicon-play btn-success"></i> Browse
        </button>&nbsp;&nbsp;
        <span>Vehicle Id: <input type="text" id="yourVehicleId" ng-model="yourVehicleId"></span>&nbsp;&nbsp;
        <span>Fetch latest # of Items: <input type="text" id="yourNItems" ng-model="yourNItems"></span>
      </p>
    </div>

  </div>
  <!-- tab-pane active -->

  <div class="tab-pane" id="browseVehicle">
    <br />
    <p>The data browser will browse vehicle collection for verification. It will fetch the latest n records by vehicle id.
    </p>
    <p class="marginTop"></p>

    <br />
   
    <div class="row col-md-12 ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchCriteria">
          </div>      
        </div>
      </form>
      <table class="table table-bordered table-striped table-condensed table-responsive flip-content" border="0">
        <thead>
          <tr>
            <th><a href="#" ng-click="sortType = 'vehicleId'; sortReverse = !sortReverse">
              Vehicle Id
              <span ng-show="sortType == 'vehicleId' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vehicleId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'deviceId'; sortReverse = !sortReverse">
              Device Id
              <span ng-show="sortType == 'deviceId' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'deviceId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'value'; sortReverse = !sortReverse">
              Value
              <span ng-show="sortType == 'value' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'value' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'uom'; sortReverse = !sortReverse">
              Unit of Measure
              <span ng-show="sortType == 'uom' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'uom' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'alertHigh'; sortReverse = !sortReverse">
              Alert High
              <span ng-show="sortType == 'alertHigh' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'alertHigh' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'warnHigh'; sortReverse = !sortReverse">
              Warn High
              <span ng-show="sortType == 'warnHigh' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'warnHigh' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'alertLow'; sortReverse = !sortReverse">
              Alert Low
              <span ng-show="sortType == 'alertLow' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'alertLow' && sortReverse" class="fa fa-caret-up"></span>
            </th>           
            <th><a href="#" ng-click="sortType = 'warnLow'; sortReverse = !sortReverse">
              Warn Low
              <span ng-show="sortType == 'warnLow' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'warnLow' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'calibrationFactor'; sortReverse = !sortReverse">
              Calibration Factor
              <span ng-show="sortType == 'calibrationFactor' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'calibrationFactor' && sortReverse" class="fa fa-caret-up"></span>
            </th>           
            <th><a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
              Timestamp
              <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "vehicle in vehicleDataSet | orderBy:sortType:sortReverse | filter:searchCriteria">
            <td>{{ vehicle.vehicleId }}</td>
            <td>{{ vehicle.deviceId }}</td>
            <td>{{ vehicle.value }}</td>
            <td>{{ vehicle.uom }}</td>
            <td>{{ vehicle.alertHigh }}</td>
            <td>{{ vehicle.warnHigh }}</td>
            <td>{{ vehicle.alertLow }}</td>
            <td>{{ vehicle.warnLow }}</td>
            <td>{{ vehicle.calibrationFactor }}</td>
            <td>{{ vehicle.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row col-md-12" style="margin-top:40px;">
      <p ng-init="getVehiclePartial(yourVehicleId, 3)" >
        <button type="radio" id="getVehiclePartial" ng-click="getVehiclePartial(yourVehicleId, yourNItems)" class="btn btn-success ">
          <i class="glyphicon glyphicon-play btn-success"></i> Browse
        </button>&nbsp;&nbsp;
        <span>Vehicle Id: <input type="text" id="yourVehicleId" ng-model="yourVehicleId"></span>&nbsp;&nbsp;
        <span>Fetch latest # of Items: <input type="text" id="yourNItems" ng-model="yourNItems"></span>
      </p>
    </div>

  </div>
  <!-- tab-pane active --> 

  <div class="tab-pane" id="browseOrbit">
    <br />
    <p>The data browser will browse orbit collection for verification. It will fetch the latest n records by vehicle id.
    </p>
    <p class="marginTop"></p>

    <br />
   
    <div class="row col-md-12 ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchCriteria">
          </div>      
        </div>
      </form>
      <table class="table table-bordered table-striped table-condensed table-responsive flip-content" border="0">
        <thead>
          <tr>
            <th><a href="#" ng-click="sortType = 'vehicleId'; sortReverse = !sortReverse">
              Vehicle Id
              <span ng-show="sortType == 'vehicleId' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'vehicleId' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'trajectory'; sortReverse = !sortReverse">
              Orbit Trajectory (Array)
              <span ng-show="sortType == 'trajectory' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'trajectory' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th><a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
              Timestamp
              <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "orbit in orbitDataSet | orderBy:sortType:sortReverse | filter:searchCriteria">
            <td>{{ orbit.vehicleId }}</td>
            <td>{{ orbit.trajectory }}</td>
            <td>{{ orbit.timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row col-md-12" style="margin-top:40px;">
      <p ng-init="getOrbitPartial(yourVehicleId, 3)">
        <button type="radio" id="getOrbitPartial" ng-click="getOrbitPartial(yourVehicleId, yourNItems)" class="btn btn-success ">
          <i class="glyphicon glyphicon-play btn-success"></i> Browse
        </button>&nbsp;&nbsp;
        <span>Vehicle Id: <input type="text" id="yourVehicleId" ng-model="yourVehicleId"></span>&nbsp;&nbsp;
        <span>Fetch latest # of Items: <input type="text" id="yourNItems" ng-model="yourNItems"></span>
      </p>
    </div>

  </div>
  <!-- tab-pane active -->

 </div>
 <!-- tab-content -->
</div>