<div class="page-container">
  <div class="content-wrapper">
  	<div class="content col-md-6 col-md-offset-3 ">
  		<div class="container-fluid">
  			<h1>Oops... </h1>
  			<p class="content-group">
  			Sorry for the inconvenience. We are currently investigating this system anomaly. For reference, the system glitch has an error code {{ errorCode }}.
  			</p>
  		</div>

  		<div class="row">
  			<div class="col-md-6">
  				<a class="btn btn-primary btn-block content-group" ui-sref="dashboard">
  					<i class="icon-circle-left2 position-left"></i>
  							Dashboard
  				</a>
  			</div>
  			<div class="col-md-6">
  				<a class="btn btn-primary btn-block content-group" ui-sref="home">
  					<i class="icon-notification2 position-left"></i>
  							Report Issue
  				</a>
  			</div>
  		</div>
  		<!--
  		<div class="row">
  			<div class="col-md-3 col-md-offset-1 ">
  				<a class="btn btn-primary btn-block content-group" ui-sref="home">
  					<i class="icon-circle-left2 position-left"></i>
  							Home
  				</a>
  			</div>
  		</div>
  		-->
  	</div>
  </div>
</div>